.places {
  font-family: 'Inter', Arial, sans-serif;
  margin: 0 auto;
  max-width: calc(100% - 296px);
  padding: 0 148px 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 96px);
    padding-right: 48px;
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: calc(100% - 48px);
    padding: 0 24px 90px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 320px;
    padding: 0 0 66px;
  }
}
