.footer__copyright {
  margin: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    line-height: 100%;
    margin-top: 16px;
  }
}