.footer {
  max-width: calc(100% - 96px);
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
  margin: 0;


}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    max-width: calc(100% - 134px);
    padding: 64px 118px 24px 16px;
  }
}
